body {
    background-color: black;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-sizing: border-box;
    max-width: 400px;
    width: 300px;
    padding: 5px;
    gap: 5px;
}

#calculator-screen {
    min-height: 75px;
    background-color: rgb(123, 241, 236);
    border: none;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 50px;
    gap: 3px;
    border-radius: 5px;
}

.key {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
}

.key:hover {
    background-color: rgb(160, 233, 255);
}
