body {
    background-color: black;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-sizing: border-box;
    max-width: 400px;
    width: 300px;
    padding: 5px;
    gap: 5px;
}

.wrapper .display {
    height: 75px;
    background-color: aquamarine;
    border: none;
    outline: none;
    font-size: 32px;
    text-align: right;
    pointer-events: none;
}


.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 50px;
    gap: 3px;
    border-radius: 5px;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    border: none;

}

.operator {
    background-color: rgb(119, 198, 201);
}

button:hover {
    background-color: rgb(160, 233, 255);
}

button:active{
    background-color: blueviolet;
}